.navbar-brand {
  margin: 4px !important;
  padding: 3px !important;
  color: #fff !important;
  font-size: 2em !important;
  font-weight: bold !important;
}

.navbar-toggle {
  margin-top: 20px !important;
}
