html {
  height: 98%;
  width: 99%;
}
body {
  height: 100%;
  width: 100%;
}
#root {
  height: 100%;
  width: 100%;
}
.body-login {
  display: flex;
  flex-flow: row;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.menu {
  position: absolute;
  height: 54px;
  top: 15px;
  right: 20px;
  font-size: 18px;
  color: #888;
}
.menu span {
  position: relative;
}
.menu img {
  margin-right: 10px;
  position: absolute;
  left: -67px;
}
.menu a {
  text-decoration: none;
  margin-left: 13px;
  color: black;
  font-size: 16px;
}
.vkLogin {
  position: absolute;
  top: 64px;
  right: 25px;
}
.vkLogin p {
  float: left;
  font-size: 20px;
  margin-right: 7px;
  margin-top: 7px;
}
.Vk {
  width: 38px;
}
.form-login {
  position: relative;
  height: 400px;
  width: 425px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  border-radius: 20px;
  border: 1px solid #6393eacf;
  box-shadow: 0 0 13px #88a7ffde;
}
.form-login__headline {
  width: 61%;
  position: relative;
  top: 0%;
  left: 21%;
  text-align: center;
  font-size: 38px;
  font-style: italic;
  font-family: "";
  color: #000000c2;
}
.form-login__hint {
  position: relative;
  left: 5%;
  width: 90%;
  text-align: center;
  font-size: 17px;
}
.form-login__input {
  position: relative;
  left: 7%;
  width: 86%;
  height: 9%;
  border-radius: 6px;
  border: 1px solid #0000003d;
  margin-top: 13px;
  font-size: 17px;
}
.form-login__submit {
  position: relative;
  left: 31%;
  width: 40%;
  height: 9%;
  border-radius: 6px;
  border: 0px solid #0000003d;
  margin-top: 13px;
  font-size: 17px;
  background-color: #00b8ffbf;
  box-shadow: 0 0 5px;
}
.form-login__error {
  position: relative;
  margin-top: 0px;
  margin-bottom: 9px;
  left: 5%;
  width: 90%;
  text-align: center;
  font-size: 19px;
  color: red;
}
.form-login__footer {
  position: absolute;
  top: 82%;
  width: 100%;
  height: 72px;
  border-top: 1px solid #00000029;
}
.oauth {
  position: relative;
  top: 18%;
  left: 5%;
  height: 80%;
  width: 90%;
}
.oauth__haedline {
  position: relative;
  top: -13px;
  font-size: 19px;
  float: left;
}
.oauth__link {
  float: left;
}
.oauth__image {
  width: 33px;
  margin-left: 6px;
}
.form-login__register {
  position: absolute;
  right: 4%;
  top: 4%;
  color: #0027ff;
  font-size: 18px;
  text-decoration: none;
}
@media all and (max-width: 500px) {
  .form-login {
    height: 400px;
    width: 293px;
  }
}
